{% extends 'base.html.twig' %}

{% form_theme form with ['bootstrap_4_layout.html.twig'] %}

	{% block title %}Modification du mot de passe{% endblock %}

		{% block body %}
			<style>
			.example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
			.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
			</style>

			<div class="container">

				<h1>Modification du mot de passe</h1>

				{# templates/default/new.html.twig #}
				{{ form_start(form) }}

				{{ form_row(form.oldPassword, {'label':"Votre ancien mot de passe", 'attr':{'placeholder':"Votre ancien mot de passe"}}) }}
				{{ form_row(form.newPassword, {'label':"Votre nouveau mot de passe", 'attr':{'placeholder':"Votre nouveau mot de passe"}}) }}
				{{ form_row(form.confirmPassword, {'label':"Confirmer votre nouveau mot de passe", 'attr':{'placeholder':"Confirmer votre nouveau mot de passe"}}) }}
			
				<button type="submit" class="btn btn-success" name="action" value="enregistrer"> Confirmer la modification </button>

				{{ form_end(form) }}

			</div>

		{% endblock %}


	