{% extends 'base.html.twig' %}

{% block title %}Nos annonces!{% endblock %}

	{% block body %}

		{#{{dump(app.flashes)}}#}

		<style>
		.example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
		.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
		</style>

		<div class="example-wrapper">

			<div class="container">
				<h1>{{ ad.title }}</h1>



				<div class='row'> 


					<div class='col-8'>
						<div class="card-deck mb-4">
							<div class="card">
								<div class="container">
									<div class="card-footer row">
										<div class='col-8'>
											<small class="text-muted">
												Logement de {{ ad.rooms }} chambre(s) à {{ ad.price }}€/nuit 
											</small>
										</div>
										<div class='col-4'>
											{# <a class="btn btn-primary btn-lg" href="ads/{{ ad.slug }}" role="button">Réserver</a> #}
											<a href="{{path('booking_create',{'slug':ad.slug})}}" class="btn btn-primary"> Réserver </a> 
										</div>
									</div>
								</div>
								
								<div class="bd-example">
									<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
										<ol class="carousel-indicators">
											{% for image in ad.images %}
												<li data-target="#carouselExampleCaptions" data-slide-to="{{ loop.index0 }}" {% if (loop.first) %} class="active"{% endif %}></li>
											{% endfor %}
										</ol>

										<div class="carousel-inner">
											{% for image in ad.images %}
												<div class="carousel-item {% if (loop.first) %} active {% endif %}">
													<img src="{{ image.url }}" class="d-block w-100" alt="...">
													<div class="carousel-caption d-none d-md-block">
														<h5>{{ image.caption }}</h5>
														<p>{{ image.caption }}</p>
													</div>
												</div>
											{% endfor %}
										</div>
										<a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
											<span class="carousel-control-prev-icon" aria-hidden="true"></span>
											<span class="sr-only">Previous</span>
										</a>
										<a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
											<span class="carousel-control-next-icon" aria-hidden="true"></span>
											<span class="sr-only">Next</span>
										</a>
									</div>
								</div>

								<div class="card-footer">
									<h5 class="card-title">{{ ad.title }} </h5>
									<p class="card-text">{{ ad.content | raw }}</p> 
									{# |raw est un filtre twig correspondant à htmlspecialchar pour enlever les caracteres spéciaux #}
								</div>


								<div class="card-footer">

									{% if app.user and app.user == ad.author %}

										<div class="container">

											<div class="row">
												<div class="col">

													<a href="{{path('ads_edit',{'slug':ad.slug})}}" class="btn btn-primary"> Modifier </a> 
												</div>
												<div class="col">
													<a href="{{path('ads_delete',{'slug':ad.slug})}}" class="btn btn-danger" onclick="return confirm('Etes vous sûr de vouloir supprimer?')" > Supprimer </a>
												</div>
											</div>

										</div>


									{% endif %}

									{# <a class="btn btn-primary btn-lg" href="{{path('ads_edit', {'slug':ad.slug})}}" role="button">Modifier l'annonce</a> #}

								</div>


							</div>
						</div>
					</div>

					<div class='col-4'>
						<div class="card-deck mb-5">
							<div class="card">
								<a href="{{path('user_show', {'slug':ad.author.slug})}}">
									<div class="card-body">
										<h5 class="card-title">Auteur : </br> {{ad.author.firstName}} {{ad.author.lastName}}  </h5>
									</a>
									<img src="{{ad.author.picture}}" class="d-block w-64" alt="...">

									{# |raw est un filtre twig correspondant à htmlspecialchar pour enlever les caracteres spéciaux #}
								</div>

								<div class="card-footer">
									<small class="text-muted">{{ad.author.ads | length}} annonces </small>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	{% endblock %}
